@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  @apply bg-gray-900 text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


